# Ignore build and cache folders
__pycache__/
*.pyc
*.pyo
.DS_Store

# Ignore virtual environment or dependency caches
.venv/
.uv_cache/

# Ignore data or logs (folders)
data/
logs/
foreign_data/
notebooks_exploratory/

draft.py